{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "react-native/react-native": true
  },
  "plugins": [
    "react-native",
    "jsx-a11y",
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "no-restricted-syntax": 0,
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-props-no-spreading": [1, {
      "custom": "ignore",
    }],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }], 
    "react-native/no-unused-styles": 2, // disallow unused styles
    "react-native/no-inline-styles": 2, // disallow styles declared within the component itself
    "react-native/no-color-literals": 2 // enforces variable names to be used for storing colors

  }
}
